easyblock = 'PythonPackage'

name = '{{ name_in_easyblock }}'
version = '{{ version_in_easyblock }}'
versionsuffix = '-Python-%(pyver)s'

homepage = '{{ homepage_url }}'
description = """{{ homepage_description }}
"""

toolchain = {'name': 'intel', 'version': '2017.03-GCC-6.3'}

source_urls = [PYPI_SOURCE]
sources = [SOURCE_TAR_GZ]

# patch to fix tests
{%- if patchfile %}
patches = ['{{ patchfile }}']
{%- else %}
#patches = ['sympy-1.0_tests-unicode.patch']
{%- endif %}

dependencies = [
    ('Python', '%(pyver)s'),
    #('mpmath', '0.19', '-Python-%(pyver)s'),
]

runtest = 'python setup.py test'

sanity_check_paths = {
    'files': [],
    'dirs': ['lib/python%(pyshortver)s/site-packages/%(name)s-%(version)s-py%(pyshortver)s.egg/%(name)s'],
}

moduleclass = 'math'
