easyblock = 'PythonPackage'

name = '{{ name_in_easyblock }}'
version = '1.0'
versionsuffix = '-Python-%(pyver)s'

homepage = 'http://somepythonpackage.org/'
description = """SomePythonPackage is a Python ...
..."""

toolchain = {'name': 'intel', 'version': '2017.03-GCC-6.3'}

source_urls = [PYPI_SOURCE]
sources = [SOURCE_TAR_GZ]

# patch to fix tests
#patches = ['sympy-1.0_tests-unicode.patch']

dependencies = [
    ('Python', '2.7.13'),
    #('mpmath', '0.19', '-Python-%(pyver)s'),
]

runtest = 'python setup.py test'

sanity_check_paths = {
    'files': [],
    'dirs': ['lib/python%(pyshortver)s/site-packages/%(name)s-%(version)s-py%(pyshortver)s.egg/%(name)s'],
}

moduleclass = 'math'
